
.a {
    text-align:  center;
    width: 100%;
    height:50px;
}

.b {   
    margin: 20px 20px; 
}

.c {   
    margin: 20px 20px; 
}

.d {   
    margin: -547px 460px; 
}

.e {   
    margin: 568px 460px; 
}

.f {   
    margin: -1098px 900px; 
}

.g {   
    margin: 1120px 900px; 
}


.h {
    text-align:  center;
    width: 100%;

}